.git
.github
.cursor
**/node_modules
**/dist
**/.next
**/coverage
**/.env
**/.env.*
!**/.env.example
!**/.env*.example
frontend
backend/pnpm-workspace.yaml
anh_wewin
audio_wewin
**/.turbo
**/__pycache__
**/*.md
*.png
*.zip
*.exe
